@import '../../../../scss/colors.module.scss';

.card-container {
  background: $WHITE;
  margin: 0 16px;

  .image-content {
    width: auto;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 42px;
  }

  .MuiCardContent-root {
    padding: 0 24px 24px 24px;
  }

  .title-text {
    font-style: normal;
    text-align: center;
    color: $BLUE_500;
  }

  .text-description {
    font-style: normal;
    text-align: center;
  }
}