@import '../../../../../scss/colors.module.scss';
// setting room and price
.add-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    margin-right: 8px;
  }
  p, span {
    margin: 0;
    color: $BLUE_500;
  }
}
.approval-detail {
  padding: 30px;
  padding-bottom: 0;
  .approval-header {
    padding-bottom: 6px;
    display: flex;
    align-items: center;
  }
}
.approval-header {
  padding: 18px 0;
}