@import '../../../../scss/colors.module.scss';
.header-tab-container {
  margin-bottom: 24px;
  &.MuiPaper-outlined {
    border: none;
    border-bottom: 1px solid $GREY_400;
  }
  &.MuiPaper-root {
    background: transparent;
    border-radius: 0;
  }
  .title-header {
    width: 100%;
    span {
      color: $GREY;
      margin-bottom: 0;
    }
  }
}
.rate-plan-item {
  &.MuiAccordion-root:before {
    background-color: transparent;
  }
  .MuiTypography-subtitle2 {
    font-weight: normal;
  }
  .rate-content {
    border-top: 0.5px solid $GREY_400;
    margin: 0 12px;
    padding: 12px 40px 12px 0;
    .active-btn {
      margin-right: 16px;
      background: $ORANGE_100;
      color: $ORANGE;
      border: solid 1px $ORANGE; 
    }
    .delete-btn {
      margin-right: 16px;
      background: $GREY_100;
      color: $GREY_600;
      border: solid 1px $GREY_400; 
    }
  }
}
.cursor-drag {
  cursor: move;
}