@import '../../../../../../scss/colors.module.scss';
.drag-calendar-icon {
  &.MuiButtonBase-root {
    background: $ORANGE;
    padding: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-14px);
    cursor: e-resize;
    z-index: 1;
    &:hover {
      background-color: $ORANGE;
    }
  }
  &.left {
    left: -14px;
  }
  &.right {
    right: -14px;
  }
}
