<div class="play-control leaflet-control">
  <div>
    <button id="play-back-faster">
      <img src="/themes/openweathermap/assets/img/owm_icons/icon_down_black.svg" /><img
        src="/themes/openweathermap/assets/img/owm_icons/icon_down_black.svg"
      /></button
    ><button id="play-back">
      <img src="/themes/openweathermap/assets/img/owm_icons/icon_down_black.svg" /></button
    ><button id="play">
      <img src="/themes/openweathermap/assets/img/owm_icons/icon_down_white.svg" /></button
    ><button id="stop" style="display: none">
      <img src="/themes/openweathermap/assets/img/owm_icons/icon_pause_black.png" /></button
    ><button id="play-forward">
      <img src="/themes/openweathermap/assets/img/owm_icons/icon_down_black.svg" /></button
    ><button id="play-forward-faster">
      <img src="/themes/openweathermap/assets/img/owm_icons/icon_down_black.svg" /><img
        src="/themes/openweathermap/assets/img/owm_icons/icon_down_black.svg"
      />
    </button>
  </div>
  <div><span id="current-moment">May 01, 9:10</span></div>
  <div><input id="control-range" type="range" min="1" max="112" /></div>
  <div><span id="min-date">Apr 24</span><span id="max-date">May 08</span></div>
</div>
