<div
  class="leaflet-control-color-scale leaflet-control"
  style="
    display: block;
    background: none;
    box-shadow: none;
    border-width: 0px;
    margin-right: 10px;
    width: 360px;
    height: 27px;
  "
>
  <div
    class="leaflet-control-color-scale-line"
    style="background-image: none; position: relative; border-width: 0px; margin: 0px"
  >
    <div class="scale-details">
      <div>Pressure, hPa</div>
      <div class="scale-gradient" style="width: 260px">
        <div class="scale-dividers">
          <div>950</div>
          <div>980</div>
          <div>1010</div>
          <div>1040</div>
          <div>1070</div>
        </div>
        <div
          class="horizontal-gradient-line"
          style="
            background-image: linear-gradient(
              to right,
              rgb(0, 115, 255) 0%,
              rgb(0, 170, 255) 8.35059%,
              rgb(75, 208, 214) 24.9192%,
              rgb(141, 231, 199) 41.4879%,
              rgb(176, 247, 32) 49.7722%,
              rgb(240, 184, 0) 58.0565%,
              rgb(251, 85, 21) 74.6251%,
              rgb(243, 54, 59) 91.1938%,
              rgb(198, 0, 0) 100%
            );
          "
        ></div>
      </div>
    </div>
  </div>
</div>
