@import '../../../../scss/colors.module.scss';
.popover-custom {
  .day-container {
    display: flex;
    flex-direction: column;
    .days-content {
      display: flex;
      flex-wrap: wrap;
    }
    .day-item {
      width: calc(100% / 7);
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: $ORANGE_100;
        color: $ORANGE;
      }
    }
  }
}
.contract-header {
  .contract-text {
    font-weight: 500;
    color: $TEAL;
  }
}
.contract-drawer {
  .MuiPaper-root {
    border-radius: 0;
  }
  .MuiDrawer-paperAnchorBottom {
    height: 100%;
  }
  .contract-header {
    color: $GREY_900;
    margin-bottom: 16px;
  }
  .contract-content-item {
    background: $GREY_100;
    box-shadow: none;
    border-radius: 8px;
    padding: 0 16px;
    .MuiAccordionSummary-root {
      padding: 0;
    }
    &.add-border {
      .MuiAccordionSummary-root {
        padding: 0;
        border-bottom: 0.5px solid $GREY_400;
      }
    }
  }
  .contract-text {
    color: $TEAL;
    margin: 0;
  }
  .MuiExpansionPanelSummary-root.Mui-expanded {
    border-bottom: 0.5px solid $GREY_400;
    margin: 0 16px;
    padding: 0;
  }
}
.contract-page {
  padding: 26px 30px;
  .contract-header-text {
    margin-bottom: 14px;
  }
  .contract-content-item {
    box-shadow: none;
    background: $GREY_100;
    padding: 0 16px;
    margin-top: 24px;    
    .MuiAccordionSummary-root {
      padding: 0;
    }
    &.add-border {
      .MuiAccordionSummary-root {
        padding: 0;
        border-bottom: 0.5px solid $GREY_400;
      }
    }
  }
  .contract-text {
    color: $TEAL;
    margin: 0;
  }
}

