@import url('https://js.arcgis.com/4.18/esri/themes/light/main.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}

#timeSlider {
  position: absolute;
  left: 5%;
  right: 5%;
}
