@import '../../../../scss/colors.module.scss';

.hotel-wrapper {
  margin-bottom: 16px;
  .back-header-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    svg {
      cursor: pointer;
    }
    .home-text {
      color: $GREY_600;
      margin-left: 8px;
    }
  }
  .create-hotel-header {
    margin-bottom: 24px;
    &.header-divider {
      margin-bottom: 16px;
    }
  }
  .create-hotel-title {
    margin-bottom: 16px;
  }
}
