/*! CSS Used from: https://openweathermap.org/themes/openweathermap/assets/css/bundle_owm_styles.c31872127471c475ade1.css */
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
}
img {
  border: 0;
}
button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
*,
:after,
:before {
  box-sizing: border-box;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
img {
  vertical-align: middle;
}
input[type='range'] {
  display: block;
  width: 100%;
}
.leaflet-container img {
  max-width: none !important;
}
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}
.leaflet-control {
  float: left;
  clear: both;
}
.leaflet-right .leaflet-control {
  float: right;
}
.leaflet-top .leaflet-control {
  margin-top: 10px;
}
.leaflet-right .leaflet-control {
  margin-right: 10px;
}
.leaflet-control {
  cursor: auto;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
}
/*! CSS Used from: https://openweathermap.org/themes/openweathermap/assets/vendor/owm/css/weathermap.2e22cf40276266129f0d7c2a1ece288ef.css */
.play-control,
.play-control button {
  color: #48484a;
  -webkit-border-radius: 4pt;
  border-radius: 4pt;
  background-color: #fff;
  text-align: center;
}
.play-control {
  font-family: 'Space Grotesk', Arial, sans-serif;
  width: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(72, 72, 74, 0.5);
  padding: 4pt 8pt;
  font-size: 8pt;
}
button {
  margin: 0;
}
.play-control button {
  border: none;
  outline: none;
  padding: 4pt;
  vertical-align: middle;
  font-size: 10pt;
  cursor: pointer;
}
.play-control button:first-child {
  /* padding-left: 0; */
}
.play-control button:last-child {
  /* padding-right: 0; */
}
.play-control button:hover {
  color: #000;
}
.play-control button:focus {
  border-color: #48484a;
  outline: none;
}
.play-control button:disabled {
  opacity: 0.7;
  cursor: default;
}
#play,
#stop {
  display: inline-block;
  height: 24pt;
  width: 24pt;
  -webkit-border-radius: 20pt;
  border-radius: 20pt;
  margin: 4pt;
  text-align: center;
  vertical-align: middle;
}
#play {
  background-color: #48484a;
}
#play img,
#stop img {
  height: 16pt;
  width: 16pt;
}
#stop img {
  margin-left: -1pt;
}
#play img {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: 1pt;
}
#stop img {
  margin-top: -1pt;
}
#stop {
  border: 1px solid #f2f2f2;
}
#play:focus,
#play:hover {
  background-color: #48484a;
}
#play-back img,
#play-back-faster img,
#play-forward-faster img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#play-back img,
#play-back-faster img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#play-forward,
#play-forward-faster img {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
#play-back-faster img {
  margin-right: -7pt;
}
#play-forward-faster img {
  margin-left: -7pt;
}
#control-range {
  -webkit-appearance: none;
  display: inline-block;
}
#control-range:focus {
  outline: none;
}
.play-control div:first-child {
  margin-bottom: 4pt;
}
.play-control div:nth-child(4) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -2pt;
}
#current-moment {
  margin-right: 2pt;
  color: #48484a;
}
