.avatar-wrapper {
    .image-avatar {
        .edit-avatar {
            display: none;
        }

        &:hover {
            opacity: 0.7;

            .edit-avatar {
                display: block;
            }
        }
    }
}